<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <span class="navbar-brand mb-0 h1">
    <img src="/assets/FreifunkSearchProjektLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{ title }}
  </span>
</nav>
<main class="container" role="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer" aria-label="Footer">
  <div class="container">
    <span class="text-muted" aria-label="Github Project Link" i18n><i class="fab fa-github"></i> Fork us at Github: <a href="https://github.com/FreifunkSearchProjekt">@FreifunkSearchProjekt</a></span>
  </div>
</footer>
