<div class="row top-buffer-20">
  <form [formGroup]="searchForm" (ngSubmit)="doSearch()" style="width: 100%">
    <div class="form-row align-items-center">
      <div class="col col-lg-2">
        <select formControlName="communityID" required class="custom-select mr-sm-2">
          <option [ngValue]="null" disabled="true" hidden="true">Select Community</option>
          <option *ngFor="let community of communities" [ngValue]="community.communityCode" title="{{community.communityName}}">{{community.communityName}}</option>
        </select>
      </div>
      <div class="col">
        <div class="input-group">
          <input type="text" formControlName="search" id="search" class="form-control">
          <span class="input-group-append">
            <button [disabled]="searching" type="submit" class="btn btn-primary" data-disable-with="Search"><i class="fas fa-search"></i> Search</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
<hr>
<ngb-progressbar *ngIf="searching" [value]="progress" [striped]="true" [animated]="true"></ngb-progressbar>
<div class="row top-buffer bottom-buffer" *ngFor="let hit of pagedItems">
  <div class="card w-100">
    <div class="card-header">
      {{hit.fields.Title}}
    </div>
    <div class="card-body">
      <h5 class="card-title" [hidden]="hit.fields.URL == null"><a href="https://{{hit.fields.URL}}{{hit.fields.Path}}" title="{{hit.fields.URL}}">{{hit.fields.URL}}</a></h5>
      <p class="card-text">{{hit.fields.Description}}</p>
    </div>
  </div>
</div>
<nav aria-label="Search results pages">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
      <a class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
      <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
      <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
      <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
      <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</nav>
